<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/fontawesome-free-5.15.3-web/css/all.min.css" integrity="staticsha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
</head>
<body>

<div class="header">
    
    <a href="home.html" id="logo">Fishermen's <span>Journey</span></a>
    <nav class="navbar">
        <a href="home.html">Home</a>
        <a href="designer.html">Designer</a>
        <a href="gallery.html">Gallery</a>
        <a href="contacts.html">Contact</a>
        <a href="black.html">About</a>
        <a href="login.html">Login</a>
        <a href="register.html">Sign Up</a>
    </nav>
    

    <div class="icons">
        <a href="#" id="menu-bars" class="fas fa-bars"></a>
        
    </div>

    <div class="search">
        <input class="srch" type="search" name="" placeholder="Type To Text">
        <a href="#"> <button class="btn">Search</button></a>
    </div>

</div>

<div class="background-image">
    <div class="inner-text-background">
        <h2>Welcome to</h2>
        <h1><span>Fishermen's</span></h1>
        <h3>Journeys</h3>
    </div>
</div>









<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> 
<script src='/static/java/script.js'></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


    <!-- icons>
    <i class="fas fa-signal"></i>
    <i class="fas fa-cogs"></i>
    <i class="fas fa-share"></i>
    <i class="fas fa-thumbs-up"></i>
    <i class="fas fa-bell"></i>
    <i class="fas fa-shopping-cart"></i>



    -->
</body>
</html>